<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3308/bd?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">1234</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="Classes_Terceiros/Servicos.hbm.xml"/>
    <mapping resource="Classes_Terceiros/ClientePrestador.hbm.xml"/>
    <mapping resource="Classes_Terceiros/Agendamento.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
